<div class="contents">
  <div class="box1">
    <p class="time">
      00:
      <span id="min">00</span>:
      <span id="sec">00</span>
    </p>
  </div>
  <div class="box2">
    <span>ポモドーロ回数</span>
    <span id="month_day"> </span><span class="time" id="pomo_number">0</span>
  </div>
</div>