<%# ボタン部分 %>
<div id="start" class="img_btn_start">
  <img class="btns" src="/images/start.png" alt="スタートボタン">
  <p class="p_side">スタート／一時停止</p>
</div>
<div id="stop" class="img_btn_stop">
  <img class="btns" src="/images/stop.png" alt="ストップボタン">
  <p class="p_side">停止／時間リセット</p>
</div>
<%# 時間セット部分 %>
<div class="div_task">
  <button id="task" class="div_task_btn" type="button">作業</button>
  <p class="p_side">25分をセット</p>
</div>
<div class="div_break">
  <button id="break" class="div_break_btn" type="button">休憩</button>
  <p class="p_side">5分をセット</p>
</div>
<%# 音量 %>
<button type="button" id="upvolume">音量↑</button>
<button type="button" id="downvolume">音量↓</button>