<%# サイドバーと時間部分 %>
<div class="wrapper">
  <div class="side_bar">
    <%= render "side_bar" %>
  </div>
  <div class="time_contents">
    <%= render "main_time" %>
  </div>
</div>

<%# 音楽部分 %>
<audio src="audios/WaveSound.mp3" loop id="workbgm1">
  <p>音声を再生するには、audioタグをサポートしたブラウザが必要です。</p>
</audio>
<audio src="audios/alarm1.mp3" id="alarm1">
  <p>音声を再生するには、audioタグをサポートしたブラウザが必要です。</p>
</audio>
<audio src="audios/kibitaki.mp3" loop id="break1">
  <p>音声を再生するには、audioタグをサポートしたブラウザが必要です。</p>
</audio>