<%# サイドバーと時間部分 %>
<div class="wrapper">
  <div class="side_bar" id="side">
    <%= render "side_bar" %>
  </div>
  <div class="time_contents" id="time">
    <%= render "main_time" %>
  </div>
</div>

<%# 音楽部分 %>
    <div class="bgm_box" data-workbgmid=<%= @selectmusic.workbgm_id %> data-breakbgmid=<%= @selectmusic.breakbgm_id %> >
      <%# 作業BGM %>
      <audio src="audios/work/WaveSound.mp3" loop id="workbgm1">
        <p>音声を再生するには、audioタグをサポートしたブラウザが必要です。</p>
      </audio>
      <audio src="audios/work/rain_sound.mp3" loop id="workbgm2">
        <p>音声を再生するには、audioタグをサポートしたブラウザが必要です。</p>
      </audio>
      <audio src="audios/work/Inside_the_cafe.mp3" loop id="workbgm3">
        <p>音声を再生するには、audioタグをサポートしたブラウザが必要です。</p>
      </audio>
      <%# 休憩BGM %>
      <audio src="audios/break/kibitaki.mp3" loop id="break1">
        <p>音声を再生するには、audioタグをサポートしたブラウザが必要です。</p>
      </audio>
      <audio src="audios/break/Like_A_Lemon.mp3" loop id="break2">
        <p>音声を再生するには、audioタグをサポートしたブラウザが必要です。</p>
      </audio>
      <audio src="audios/break/Midnight_Moon.mp3" loop id="break3">
        <p>音声を再生するには、audioタグをサポートしたブラウザが必要です。</p>
      </audio>
      <%# 無音 %>
      <audio src="audios/muon.mp3" id="muon">
        <p>音声を再生するには、audioタグをサポートしたブラウザが必要です。</p>
      </audio>
      <%# アラーム音 %>
      <audio src="audios/alarm/alarm1.mp3" id="alarm1">
        <p>音声を再生するには、audioタグをサポートしたブラウザが必要です。</p>
      </audio>
      <audio src="audios/alarm/zihou1.mp3" id="zihou1">
        <p>音声を再生するには、audioタグをサポートしたブラウザが必要です。</p>
      </audio>
      <audio src="audios/alarm/zihou2.mp3" id="zihou2">
        <p>音声を再生するには、audioタグをサポートしたブラウザが必要です。</p>
      </audio>
    </div>