@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

/* メイン部分全体 */
.center{
}

/* サイドバーと時間部分 */
.wrapper {
  display: flex;
}

/* サイドバー部分 */
.side_main {
  background-color: #ffffff;
  width: 300px;
  height: calc(100% - 110px);
  padding: 20px 15px 0px;
  font-family: 'Noto Sans JP', sans-serif;
}

.img_btn_start{
  display: flex;
}

.img_btn_stop{
  display: flex;
}

.btns{
  height: 30px;
  width: 30px;
  margin: 0px 10px 15px 0px;
}

.div_task{
  display: flex;
}

.div_task_btn{
  font-size: large;
  margin: 0px 10px 15px 0px;
}

.div_break{
  display: flex;
}

.div_break_btn{
  font-size: large;
  margin: 0px 10px 15px 0px;
}

/* 時間部分 */
.contents{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 110px);
  width: calc(100vw - 300px);
  color: #ffffff;
  font-family: 'Noto Sans JP', sans-serif;
}

.box1{
  font-size: 100px;
}

.box2{
  font-size: 30px;
}

.time {
  background-color: #9ed6eb;
  padding: 0 20px;
}

/* モーダルウィンドウ */
.modal {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}
  
.modal-content{
  background-color: white;
  width: 500px;
  margin: 250px auto;
}