@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

/* サイドバーと時間部分 */
.wrapper {
  display: flex;
}

/* サイドバー部分 */
.side_bar{
  background-color: #75c3df;
  color: #ffffff;
  width: 300px;
  height: calc(100% - 110px);
  position: absolute;
  font-family: 'Noto Sans JP', sans-serif;
  overflow: auto;
  border-right: solid 1px #ffffff;
  padding: 10px;
}
/* サイドバーの文字部分 */
.p_side{
  margin: 10px;
  font-size: 20px;
  font-weight: 200;
}
/* ボタン部分 */
.img_btn_start{
  display: flex;
}

.img_btn_stop{
  display: flex;
}

.btns{
  height: 30px;
  width: 30px;
  margin: 10px;
}
/* 時間セット部分 */
.div_task{
  display: flex;
}

.div_task_btn{
  margin: 10px;
}

.div_break{
  display: flex;
}

.div_break_btn{
  margin: 10px;
}

/* 時間部分 */
.time_contents{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: calc(100% - 300px);
  height: calc(100% - 110px);
  position: absolute;
  left: 300px;
  color: #ffffff;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #75c3df;
}

.box1{
  font-size: 180px;
}

.box2{
  font-size: 30px;
}

