/* メイン部分全体 */
.wrapper {
  display: flex;
}

/* サイドバー部分 */
.side_main {
  background-color: #ffffff;
  width: 300px;
  height: calc(100vh - 110px);
  padding: 20px 15px 0px;
  overflow: scroll;
}

.img_btn_start{
  display: flex;
}

.img_btn_stop{
  display: flex;
}

.btns{
  height: 30px;
  width: 30px;
  margin: 0px 10px 15px 0px;
}

.div_task{
  display: flex;
}

.div_task_btn{
  font-size: large;
  margin: 0px 10px 15px 0px;
}

.div_break{
  display: flex;
}

.div_break_btn{
  font-size: large;
  margin: 0px 10px 15px 0px;
}

.note{
  font-size: 17px;
}
/* 時間部分 */
.contents{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 110px);
  width: calc(100vw - 300px);
  color: #ffffff;
}

.box1{
  font-size: 100px;
}

.box2{
  font-size: 30px;
}

.time {
  background-color: #9ed6eb;
  padding: 0 20px;
}